<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.onbeatthis"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        />
    
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.RECORD_AUDIO" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_octo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.onbeatthis.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.onbeatthis.LogInActivity"
            android:label="@string/title_activity_log_in" >
        </activity>
        <activity
            android:name="com.example.onbeatthis.HomePage"
            android:label="@string/title_activity_home_page" >
        </activity>
        <activity
            android:name="com.example.onbeatthis.CreateAccount"
            android:label="@string/title_activity_create_account"
            android:parentActivityName="com.example.onbeatthis.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.onbeatthis.MainActivity" />
        </activity>
        <activity
            android:name="com.example.onbeatthis.Play"
            android:label="@string/title_activity_play" >
        </activity>
        <activity
            android:name="com.example.onbeatthis.UserAccount"
            android:label="@string/title_activity_user_account" >
        </activity>
        <activity
            android:name="com.example.onbeatthis.ScoreActivity"
            android:label="@string/title_activity_score" >
        </activity>
        <activity
            android:name="com.example.onbeatthis.SelectSong"
            android:label="@string/title_activity_select_song" >
        </activity>
    </application>

</manifest>

